<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel='stylesheet' href='/css/list.css'/>
  <link rel='stylesheet' href='/css/iconfont.css'/>
  <script type="text/javascript" src="../js/jquery.js"></script>
  </head>
<body>
  <div class="top">
    <h1></h1>
    <div class="todolist">
      <div class="more">
        <i class="duo iconfont icon-gengduo"></i>
        <p class="module">更多模板堂产品</p>
      </div>
      <div class="nav">
        <i class="kai iconfont icon-xiangyou4"></i>
        <p class="open">开店向导</p>
      </div>
      <div class="test">
        <i class="matter iconfont icon-icon-test"></i>
        <p class="book">记事本</p>
      </div>
      <div class="refresh">
        <i class="new iconfont icon-shuaxin2"></i>
        <p class="xin">刷新</p>
      </div>
      <div class="set">
        <i class="one iconfont icon-shezhi3"></i>
        <p class="peo">个人设置</p>
      </div>
      <div class="say">
        <i class="ali iconfont icon-xiaolian"></i>
        <p class="speak">管理员留言</p>
      </div>
      <div class="net">
        <i class="look iconfont icon-gouwuche"></i>
        <p class="see">查看网店</p>
      </div>
      <div class="help">
        <i class="helping iconfont icon-bangzhu"></i>
        <p class="hel">帮助</p>
      </div>
      <div class="ecs">
        <i class="ecshop iconfont icon-i"></i>
        <p class="shop">关于ECSHOP</p>
      </div>
      <div class="cls">
        <i class="clearimg iconfont icon-i"></i>
        <p class="clear">清除缓存</p>
      </div>
      <div class="sign">
        <i class="out iconfont icon-084tuichu"></i>
        <p class="signout">退出</p>
      </div>
    </div>
  </div>
  <!-- nav -->
  <div class="navigation">
    <ul class="navleft">
      <li>
        <i class="iconfont icon-shouye"></i>
        <p>起始页</p>
      </li>
      <li>
       <i class="iconfont icon-computer"></i>
        <p>设置导航栏</p>
      </li>
      <li>
        <i class="iconfont icon-zuguanli"></i>
        <p>商品管理</p>
        <span>5</span>
      </li>
      <li>
        <i class="iconfont icon-6"></i>
        <p>订单管理</p>
        <span>0</span>
      </li>
      <li>
        <i class="iconfont icon-shengyin"></i>
        <p>广告管理</p>
        <span>0</span>
      </li>
      <li>
        <i class="iconfont icon-yonghu"></i>
        <p>用户评论</p>
        <span>0</span>
      </li>
    </ul> 
    <div class="navright">
      <ul class="user">
        <li>用户评论</li>
        <li>商品列表</li>
        <li>会员列表</li>
        <li>商店设置</li>
        <li>移动版</li>
        <li>服务市场</li>
      </ul>
    </div>
  </div>
  <!-- 侧栏 -->
  <div class="case">
    <div class="menu">导航菜单</div>
    <ul class="click">
      <li>
        <i class="iconfont icon-zuguanli"></i>
        <p class="block">商品管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <div class="shoplist">
          <p class="list" target="content">商品列表</p>
          <p class="add" target="content">添加商品</p>
          <iframe id="content" name="content" src=""></iframe>
      </div>
      <li>
        <i class="iconfont icon-79"></i>
        <p>促销导航</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-xiangyou4"></i>
        <p>订单管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-htmal5icon25"></i>
        <p>报表统计</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-084tuichu"></i>
        <p>文章管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-shezhi3"></i>
        <p>会员管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-bangzhu"></i>
        <p>权限管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-xiaolian"></i>
        <p>系统管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-shengyin"></i>
        <p>模板管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-tongji"></i>
        <p>数据管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-cuowu"></i>
        <p>短信管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-6"></i>
        <p>推荐管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-zuguanli"></i>
        <p>邮件管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-icon-test"></i>
        <p>移动管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-zuguanli"></i>
        <p>模板知识</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-tongji"></i>
        <p>商品管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-zuguanli"></i>
        <p>商品管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-tongji"></i>
        <p>商品管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-zuguanli"></i>
        <p>商品管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-gengduo"></i>
        <p>商品管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-zuguanli"></i>
        <p>商品管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-gengduo"></i>
        <p>商品管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li><li>
        <i class="iconfont icon-zuguanli"></i>
        <p>商品管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
      <li>
        <i class="iconfont icon-gengduo"></i>
        <p>商品管理</p>
        <span class="iconfont icon-jiahao"></span>
      </li>
    </ul>
  </div>
</body>
<script type="text/javascript">
  $(".block").click(function(){
    $(".shoplist").toggle()
  })
</script>
</html>