<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/css/login.css' />
    <script type="text/javascript" src="../js/jquery.js"></script>
  </head>
  <body>
    <div class="box">
      <h1 class="logo">
        <img src="../imgs/logo.png" alt="">
      </h1>
      <div class="ecshop">
        <img src="../imgs/ecshop.png" alt="">
      </div>
      <div class="icon">
      <!-- 用户名 -->
        <div class="user">
          <img src="../imgs/username.jpg" alt="">
          <input type="text"  name="username" placeholder="用户名" class="username" />
        </div>
        <!-- 密码 -->
         <div class="pass">
          <img src="../imgs/psw.jpg" alt="">
          <input type="password"  name="psw" placeholder="密码" class="psw" />
        </div>
        <!-- 验证码 -->
        <div class="number">
          <img class="pic" src="../imgs/numb.jpg" alt="">
          <input type="password"  name="psw" placeholder="验证码" class="numb" />
          <div class="ind">
            <img src="../imgs/index.png" alt="">
          </div>
        </div>
         <button class="btn" onclick="login()">登录</button>
        <div class="help">
          <div class="log">
            <input type="checkbox" name="login" > 保存登录信息
          </div>
          <p class="forget">忘记密码？</p>
          <p class="go">去店铺首页>></p>
        </div>
      </div>
      <div class="btm">
        <img src="../imgs/bar.png" alt="">
      </div>
    </div>
  </body>
  <script type="text/javascript">
    function login(){
      $.ajax({
        url:"/loginAjax",
        type:"post",
        data:{
          username:$(".username").val(),
          psw:$(".psw").val()
        },
        success:function(res){
          console.log(res)
          if(res.code == 1){
            alert(res.message)
            location.href = "/list";
          }else{
            alert(res.message)
          }
        }
      })
    }
  </script>
</html>
